#circleG{
    width:90px;
    margin: auto;
    padding: 0 0 50px 0;
}

.circleG{
    background-color: #737373;
    float:left;
    height:19px;
    margin-left:10px;
    width:19px;
    animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
    animation-duration:1.5575s;
    -webkit-animation-duration:1.5575s;
    -moz-animation-duration:1.5575s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    border-radius:13px;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
}

#circleG_1{
    animation-delay:0.3095s;
    -webkit-animation-delay:0.3095s;
    -moz-animation-delay:0.3095s;
}

#circleG_2{
    animation-delay:0.7255s;
    -webkit-animation-delay:0.7255s;
    -moz-animation-delay:0.7255s;
}

#circleG_3{
    animation-delay:0.9385s;
    -webkit-animation-delay:0.9385s;
    -moz-animation-delay:0.9385s;
}



@keyframes bounce_circleG{
    0%{}

    50%{
        background-color: #E9E9E9;
    }

    100%{}
}

@-webkit-keyframes bounce_circleG{
    0%{}

    50%{
        background-color: #E9E9E9;
    }

    100%{}
}

@-moz-keyframes bounce_circleG{
    0%{}

    50%{
        background-color: #E9E9E9;
    }

    100%{}
}