@media (min-width: 1400px) {
    .center-content{
        width: 75%;
    }
}

body{
    background: #5E869F !important;
}

.title-customer{
    /* Bar: */
    background-image: linear-gradient(-180deg, #484E51 28%, #585858 100%);
    color: #eaeaea;
    margin: 0 !important;
    /*color: #4d4d4d;*/
    padding: 7px;

    line-height: 43px;
    font-size: 25px;
}

.container{
    margin-top: 10px !important;
}

.center-content{
    border: none;
    margin: 0 50px 0 250px;
    background: #f8f8f8;
    padding: 30px 30px 20px 30px;
}

.buttonAdd{
    font-size: 23px;
    padding: 0;
    height: 35px;
    width: 35px;
    margin: 9px auto;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid;
    content: '+';
}

.message-from{
    text-align: left;
    padding: 10px;
    background: #DBF000;
    float: left;
    color: black;
    max-width: 90%;
    border-radius: 10px;
}

.message-from-trash{
    float: right;
    height: 38px;
    margin-right: 15px;
    line-height: 38px !important;
    text-align: center;
    display: none!important;
}

.message-to{
    float: right;
    padding: 10px;
    text-align: right;
    background: #2DB3C9;
    color: white;
    max-width: 90%;
    border-radius: 10px;
}

.message-from-triangle {
    float: left;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #DBF000;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.button-send{
    /* Button: */
    background: #545556;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    color: #eaeaea;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    cursor: pointer;
}

.button-delete-messages{
    /* Button: */
    background: #545556;
    border-radius: 12px;
    color: #eaeaea;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 10px 0 10px 10px;
    float: right;
    cursor: pointer;
}

.message-to-triangle{
    background: #2DB3C9;
    float: right;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.message-input{
    resize: none;
    height: 70px;
    line-height: 20px;
}

.message{
    transition: all .2s ease-in-out;
}

.message:hover{
    transform: scale(1.015);
}

.message-selected{
    background: rgb(195, 207, 213);
}

ol{
    padding: 0;
}

li {
    overflow: hidden;
    list-style-type: none;
}

.user-application-form{
    width: 300px;
}

.input_green{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 43px;
    line-height: 1.2;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input_green:focus {
    border-color: #5E869F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px #484E51;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px #484E51;
    z-index: 2;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}