spring.application.name=QuizEngine

debug=false
host=http://localhost:8080/
jwt.secret=123123
storage.images=/Absolute/Path/To/Uploads/Images/

sms.url=http://gate.smsaero.ru/testsend/
sms.email=
sms.password=

spring.datasource.platform=postgres
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.sql-script-encoding=utf-8
spring.datasource.url=jdbc:postgresql://localhost:5432/quiz_engine
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.show-sql=true

spring.data.web.pageable.size-parameter=size
spring.data.web.pageable.page-parameter=page
spring.data.web.pageable.default-page-size=20
spring.data.web.pageable.one-indexed-parameters=false
spring.data.web.pageable.max-page-size=100

spring.freemarker.content-type=text/html;charset=UTF-8
spring.freemarker.template-loader-path=views/ftl
spring.freemarker.suffix= .ftl
spring.freemarker.prefix=
spring.freemarker.expose-request-attributes=true
spring.freemarker.charset=UTF-8

spring.http.converters.preferred-json-mapper=jackson
spring.jackson.default-property-inclusion=non_null

spring.datasource.initialization-mode=always